 <div class=" container ">
    <h1>PERSONEL INFO</h1>
        <div class="alert alert-danger" 
        *ngIf="errorMessage">{{errorMessage}}
        </div>
        <div class="alert alert-success" 
        *ngIf="successMessage">{{successMessage}}
        </div>

        <form 
            class="register-register-form"
            novalidate=""
            [formGroup]="infoForm"
          >
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                    <label>Firstname</label>
                    <input class="form-control"  
                          formControlName="firstname"
                          [class.is-invalid]="firstname.invalid && firstname.touched" 
                          name="firstname" 
                          required minlength="3">
                    <small class="text-danger" *ngIf="firstname.errors?.required  && firstname.touched">Firstname is required</small>
                    <small class="text-danger" *ngIf="firstname.errors?.minlength ">Firstname must be at least 3 characters long</small>
                </div>
                </div>
              <div class="col">
                  <div class="form-group">
                    <label>Lastname</label>
                    <input  class="form-control"  
                          formControlName="lastname" 
                          [class.is-invalid]="lastname.invalid && lastname.touched" 
                          name="lastname" 
                          required minlength="3">
                    <small class="text-danger" *ngIf="lastname.errors?.required  && lastname.touched">Lastname is required</small>
                    <small class="text-danger" *ngIf="lastname.errors?.minlength  ">Lastname must be at least 3 characters long</small>
                  </div>
              </div>
            </div>
              
            <div class="form-group">
              <label>Email address</label>
              <input class="form-control" 
                    formControlName="email" 
                    [class.is-invalid]="email.invalid && email.touched" 
                    name="email" required>
              <small class="text-danger" *ngIf="email.errors?.required && email.touched">Email address is required</small>
              <small class="text-danger" *ngIf="email.errors?.email">Invalid email address</small>
            </div>

        </form>
        <button class="btn btn-submit" (click)="save()" [disabled]="infoForm.invalid" color="primary">Save</button>

    </div>