      <div class="container" >
        <div class="row" >
          <div class="col-lg-8 entries" >
            <article class="entry entry-single">

              <mdb-carousel  [animation]="'slide'">
                <mdb-carousel-item *ngFor="let pic of pictures; let i = index ">
                  <img class="d-block w-100 d-md-block" src="{{base_url+pic}}" height="300">
                </mdb-carousel-item>
              </mdb-carousel>
              <div class="row entry-top">
                <div class="col-9 ">
                  <h2 class="entry-title">
                    <a>{{data.title}}</a>
                  </h2>
                  <div class="entry-meta">
                    <ul>
                      <li class="d-flex align-items-center"><i class="fas fa-home"></i> <a >{{ data.type}}</a></li>
                      <li class="d-flex align-items-center"><i class="fas fa-user "></i> <a >{{ data.user.firstname}} {{ data.user.lastname}}</a></li>
                      <li class="d-flex align-items-center"><i class="fas fa-calendar-alt icon"></i> <a ><time datetime="2020-01-01">{{data.created_at | date:'MMM d, y' }}</time></a></li>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >12 Comments</a></li> -->
                    </ul>
                  </div>
                </div>
                <div class="col-3  entry-price d-flex align-items-center">
                  {{data.price}}DT/night
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="entry-content">               
                <h3 class="content-title">PROPERTY DETAILS</h3>
                <div class="content-item details">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i> <span>Address : {{data.address}}</span></li>
                    <li><i class="far fa-flag"></i>  <span>Country : {{data.country}}</span></li>
                    <li><i class="fas fa-map-marker-alt"></i> <span>State : {{data.state}}</span></li>
                    <li><i class="fas fa-bed"></i>  <span>Bedrooms : {{data.rooms}}</span></li>
                    <li><i class="fas fa-bath"></i>  <span>Bathrooms : {{data.baths}}</span></li>
                    <li><i class="fas fa-calendar-alt"></i>  <span>Last updated : {{data.updated_at | date:'MMM d, y' }}</span></li>

                  </ul>
                </div>
                <mat-divider></mat-divider>
                <h3 class="content-title">ACTIVITIES NEARBY</h3>
                <div class="content-item details">
                  <ul>
                    <li *ngFor="let act of data.activities"><i class="far fa-check-circle"></i> <span>{{act.name}} ({{act.distance}} meters )</span> </li>
   
                  </ul>
                </div>
                

              </div>



            </article>


             <!-- <div class="blog-comments">

              <h4 class="comments-count">8 Comments</h4>

              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                      Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                    </p>
                  </div>
                </div>
              </div>

              <div id="comment-2" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="assets/img/blog/comments-2.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                    </p>
                  </div>
                </div>

                <div id="comment-reply-1" class="comment comment-reply">
                  <div class="d-flex">
                    <div class="comment-img"><img src="assets/img/blog/comments-3.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan, 2020</time>
                      <p>
                        Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.

                        Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.

                        Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                      </p>
                    </div>
                  </div>

                  <div id="comment-reply-2" class="comment comment-reply">
                    <div class="d-flex">
                      <div class="comment-img"><img src="assets/img/blog/comments-4.jpg" alt=""></div>
                      <div>
                        <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan, 2020</time>
                        <p>
                          Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                        </p>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

              <div id="comment-3" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="assets/img/blog/comments-5.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                      Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                    </p>
                  </div>
                </div>

              </div>

              <div id="comment-4" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="assets/img/blog/comments-6.jpg" alt=""></div>
                  <div>
                    <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">01 Jan, 2020</time>
                    <p>
                      Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore. Cumque sed quia ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                    </p>
                  </div>
                </div>

              </div>

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="website" type="text" class="form-control" placeholder="Your Website">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div>  -->

          </div>

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Check availability</h3>
              <div class="sidebar-item ">
                    <mat-form-field >
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [formGroup]="range"  [min]="minDate" [rangePicker]="picker">
                        <input matStartDate formControlName="start"  placeholder="Start date">
                        <input matEndDate formControlName="end"  placeholder="End date">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    
                      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                    <br><small class="text-danger" *ngIf="!valid">Date range is required</small>
                    <button class="btn btn-submit" (click)="check()">Check</button>
              </div>
              <div class="sidebar-item ">
                  <div class="check-result " *ngIf="result">
                     <div class="result-text">
                        <button mat-button *ngIf="!available" class="btn btn-reserve row" disabled>        
                          <mat-icon >event_busy</mat-icon>
                          <span> Not available</span>
                        </button>
                        <button mat-button *ngIf="available" class="btn btn-reserve row" (click)="pay()">        
                          <mat-icon >event_available</mat-icon>
                          <span> Book it now</span>
                        </button>
                        
                    </div>

              </div>

   
              
            </div>

       

          </div>

          </div>

        </div>

      </div>
