
  .entry {
    padding: 30px;
    margin-bottom: 60px;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */

  }
  .entry .entry-top{
    padding-right: 30px;
    margin-bottom: 10px;

  }
  .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 10px 0;
  }
  .entry .entry-title a {
    color: #3b3938;
    transition: 0.3s;
  }
  
  .entry .entry-title a:hover {
   color: rgb(103, 179, 209);
  }
  
  .entry .entry-meta {
    margin-bottom: 15px;
  }
  
  .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .entry .entry-meta ul li + li {
    padding-left: 20px;
  }
  
  .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: #777777;
  }
  
  .entry .entry-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
  }

  .entry .entry-price{
  background-color: #eb7878;
  color:white;
  height: 60px;
  font-size: 20px;
  padding-right: 30px;
  margin-top: 20px;

}
  
  .entry .entry-content .content-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 0 0;
    margin: 20px 0 15px 0;
    color: #2d2d2e;
    position: relative;
  }
  
  .entry .entry-content .content-item {
    margin-bottom: 30px;
  }

  .entry .entry-content .details ul {
    list-style: none;
    padding: 0;
  }
  
  .entry .entry-content .details ul li + li {
    padding-top: 10px;
  }
  
  .entry .entry-content .details ul i {
    color: #68687c;
    transition: 0.3s;
  }
  
  .entry .entry-content .details ul span {
    padding-left: 5px;
    color: #515161;
    font-size: 14px;
  }
  


  .sidebar {
    padding: 30px;
    margin: 30px 0 60px 20px;
    box-shadow: 0 4px 16px rgba(109, 98, 98, 0.1);
  }
  
  .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    color: rgb(45, 55, 56);
    position: relative;
    text-align: center;
  }
  
  .sidebar .sidebar-item {
    margin-bottom: 30px;
    margin:0 auto;

  }

  .sidebar .btn-submit{
      background: #828888;
      color:white;
  } 
    
  .sidebar .btn-reserve{
      background: #39b3c9;
      color:white;
      width: 100%;

  } 
  .check-result{
    margin: 10px 0 10px 0;
    }
.result-text{
    border: 1px solid #39b3c9;
    color:rgb(71, 75, 75);
    padding: 10px 10px;
    box-sizing: border-box;
    /* margin:0 auto; */
    width:220px;
}


  

 
  