     <div class="main-container">

    <mat-toolbar class="toolbar">

      <div class="row" [routerLink]="['/member']">
      
          <img class="brand-logo" src="./assets/images/logo.png" />
          <span class="brand-name"  >ATYPIC HOUSE</span>
         
      </div>

      <span class="spacer"></span>

      <div class="nav-items" >
        



          <button mat-button class="property-button"  [routerLink]="['/member/add-property']">        
            <mat-icon >home_work</mat-icon>
            <span> Add a property</span>
          </button>


          <!-- <button mat-button [matMenuTriggerFor]="menu"> -->
          <button mat-button>        
            <mat-icon aria-label="Side nav toggle icon" >account_circle</mat-icon>
            <span>    {{currentMember.firstname}} {{currentMember.lastname}}</span>
          </button>
            <!-- <mat-menu #menu="matMenu">
              <a mat-menu-item href="/member" *ngIf="isMobile">
                <mat-icon>home</mat-icon>
                <span>Home</span>
              </a>
              <button mat-menu-item class="property-button" *ngIf="isMobile">        
                <mat-icon >home_work</mat-icon>
                <span> Add a property</span>
              </button>
              <a mat-menu-item href="/member/notifications" *ngIf="isMobile">
                <mat-icon>notifications</mat-icon>
                <span>Notifications</span>
              </a>
              <mat-divider *ngIf="isMobile"></mat-divider>

              <a mat-menu-item href="/member/reservations">
                <mat-icon>date_range</mat-icon>
                <span>Reservations</span>
              </a>
              <a mat-menu-item href="/member/properties">
                <mat-icon>home_work</mat-icon>
                <span>Properties</span>
              </a>
              <mat-divider></mat-divider>
              <a mat-menu-item href="/member/account">
                <mat-icon>manage_accounts</mat-icon>
                <span>Account</span>
             </a>
             <a mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
          </mat-menu> -->

        </div> 
    </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
<mat-sidenav 
class="sidenav"
      mode="side" 
      fixedInViewport="false"
      opened
>
      <mat-nav-list>
     

      <a mat-list-item href="/member" *ngIf="isMobile" >
                <mat-icon title="Home">home</mat-icon>
                <span *ngIf="!isMobile">Home</span>
              </a>
             

              <a mat-list-item href="/member/reservations" >
                <mat-icon title="Reservations">date_range</mat-icon>
                <span *ngIf="!isMobile">Reservations</span>
              </a>
              <a mat-list-item href="/member/properties" >
                <mat-icon title="Properties">location_city</mat-icon>
                <span *ngIf="!isMobile">Properties</span>
              </a>

              <a mat-list-item href="/member/savedProperties" >
                <mat-icon title="Saved Properties">favorite</mat-icon>
                <span *ngIf="!isMobile">Saved Properties</span>
              </a>

              <mat-divider></mat-divider>

              <a mat-list-item href="/member/account">
          <mat-icon title="Account">manage_accounts</mat-icon>
          <span *ngIf="!isMobile">Account</span>
       </a>
       <a mat-list-item (click)="logout()">
          <mat-icon title="Logout">logout</mat-icon>
          <span *ngIf="!isMobile">Logout</span>
      </a>
        </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
