        <div class="container ">
          <div class="row property-list">

          <div class="col-lg-4 col-md-6" *ngFor="let row of data">
          <div class="card">
            <img src="{{base_url+row.picture[0]}}" alt="" class="card-img-top">
           
            <div class="card-img-overlay settings">
                <a class="mc-btn-action " [matMenuTriggerFor]="menu">
                    <i class="fas fa-ellipsis-v"></i>
                    </a>
              
                    <mat-menu #menu="matMenu">        
                      <a mat-menu-item href="/user/properties/reservations/:id">
                        <mat-icon>date_range</mat-icon>
                        <span>Reservations</span>
                      </a>
                      <a mat-menu-item href="/user/properties/edit/:id">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </a>
                      <a mat-menu-item (click)="delete(row._id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                     </a>
                  </mat-menu> 
            </div> 
            <div class="card-body">
              <h2 class="card-title" (click)="delete(row._id)">{{row.title}}</h2>
              <p class="card-text">Type : {{row.type}} </p>
              <p class="card-text status border-bottom-0" *ngIf="row.status==='pending'">Status : <span class="waiting">{{row.status}}</span></p>
              <p class="card-text status border-bottom-0" *ngIf="row.status==='accepted'">Status : <span class="active">{{row.status}}</span></p>


              <p class="card-text">
                  <small class="text-muted">
                    <i class="fas fa-bed"></i>{{row.rooms}}
                    <i class="fas fa-bath"></i>{{row.baths}} 
                    <i class="fas fa-money-bill-wave"></i>{{row.price}} DT/ {{row.rentPer}}
                    <i class="fas fa-calendar-alt"></i>{{row.created_at | date: 'MMM d, y' }}
                </small></p>
                    <p><small class="text-muted">
                        <i class="fas fa-map-marker-alt"></i> {{row.country}}, {{row.state}}</small></p>
              <button  class="btn btn-more btn-sm">More Details</button>
              <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
            </div>
           </div>
          </div>
   


     
       
        </div>
      </div>
      