 
<h1>Forget your Password ?</h1>
<h1>Time for a new one!</h1>
<p>Enter your email address and we'll send you the steps to follow.</p>

<div class="alert alert-danger" *ngIf="errorMessage">
     <strong>Error! </strong>  {{ errorMessage }}.
  </div>
  <div class="alert alert-success" *ngIf="successMessage">
      <strong>Success! </strong> {{ successMessage }}.
  </div>
  
    <form class="register-register-form"
    novalidate=""
    [formGroup]="forgetPasswordForm"
    >
      <div class="form-group">
          <label>Email address</label>
          <input class="form-control" 
                    formControlName="email" 
                    [class.is-invalid]="email.invalid && email.touched" 
                    name="email" required>
          <small class="text-danger" *ngIf="email.errors?.required && email.touched">Email address is required</small>
          <small class="text-danger" *ngIf="email.errors?.email">Invalid email address</small>
       </div>
    </form>

    <button class="btn btn-submit" (click)="resetPassword()" [disabled]="forgetPasswordForm.invalid" color="primary">Send request</button>

