
<div class="background" >

    
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <!-- Any other Bulma elements you want -->
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      
    <br>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-11">
        <div class="tile">
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;
          <div class="tile is-parent">
            <article class="tile is-child box notification is-light">
            <br>
            <br>
            <br>
            <br>

              <div class="content">
                <!-- Content -->
                <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Tweets</p>
                      <p class="title">3,456</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Following</p>
                      <p class="title">123</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Followers</p>
                      <p class="title">456K</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Likes</p>
                      <p class="title">789</p>
                    </div>
                  </div>
                </nav>
                
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <p class="title">About Us</p>
    <p>&nbsp;Serving renters and property owners nationwide</p>
    
    <p class="title">Overview</p>
    <p>&nbsp;Apartments.com is the leading online apartment listing website, offering renters access to information on more than 1,000,000 available units for &nbsp;rent. Powered by CoStar, the Apartments.com network of home rental sites includes Apartments.com, ForRent.com, ApartmentFinder.com, &nbsp;Apartamentos.com, ApartmentHomeLiving.com, ForRentUniversity.com, After55.com, CorporateHousing.com and WestsideRentals.com.
    </p>
    <p>&nbsp;These nine unique renter sites offer advertisers expansive exposure for their available home rental listings of all kinds. Apartments.com is &nbsp;supported by the industry’s largest professional research team, which has visited and photographed over 500,000 properties nationwide.
    </p>
    <p>&nbsp;The team makes over one million calls each month to apartment owners and property managers, collecting and verifying current availabilities, &nbsp;rental rates, pet policies, fees, leasing incentives, concessions, and more. Apartments.com offers more apartments than other apartments listing &nbsp;websites, and innovative features including a drawing tool that allows users to define their own search areas on a map, and a “Travel Time” feature &nbsp;that lets users search for rentals in proximity to a specific address.
    </p>
    <p>&nbsp;Apartments.com creates easy access to its listings through a responsive website and iOS and Android apps, and provides unmatched exposure for &nbsp;its advertisers through an intuitive name, strategic search engine placements and innovative emerging media. The Apartments.com network &nbsp;reaches millions of renters nationwide, driving both qualified traffic and highly engaged renters to leasing offices.
    </p>
    <p>
      &nbsp;For more information: <a href="www.apartments.com">www.apartments.com</a>
    </p>
     
    
    <p class="title">Ownership</p>
    <p>&nbsp;Founded in 1987, CoStar Group, Inc. (Nasdaq: CSGP) is the leading provider of commercial real estate information, analytics, and online marketplaces. Our suite of online services enables clients to analyze, interpret and gain unmatched insight on commercial property values, market conditions and current availability.
    </p>
    <p>
      &nbsp;CoStar Group is behind some of the most well-known brands in the commercial real estate industry, including CoStar, the largest provider of CRE research and real-time data; LoopNet, the most heavily trafficked mobile and online real estate marketplace; Apartments.com, the premier rental home resource for renters, property managers and owners; STR, the leading provider of performance benchmarking and comparative analytics to the hotel industry; BizBuySell, the largest online marketplace for businesses-for-sales; and Land.com, the leading operator of online marketplaces for rural real estate.
    </p>
    <p>
      &nbsp;Headquartered in Washington, DC, CoStar Group maintains offices throughout the U.S. and in Europe, Canada, and Asia. For more information, visit <a href="www.costar.com">www.costar.com</a>
    </p>
    <br>
    <br>
              </div>
            </article>
          </div>
        </div> 
      </div> 
    </div> 
    
   


    <br>
</div>
