
<div class="background" >

        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <!-- Any other Bulma elements you want -->
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      
    <br>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-11">
        <div class="tile">
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;
          <div class="tile is-parent">
            <article class="tile is-child box notification is-light">
            <br>
            <br>
            <br>
            <br>

              <div class="content">
                <!-- Content -->
                <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Clients</p>
                      <p class="title">3,456</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Properties</p>
                      <p class="title">823</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">Reservations</p>
                      <p class="title">456K</p>
                    </div>
                  </div>

                </nav>
                
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <p class="title">About Us</p>
    <p>&nbsp;Serving renters and property owners nationwide</p>
    
    <p class="title">Overview</p>
    <p>&nbsp;AtypicHouse is the leading online apartment listing website, offering renters access to information on more than 1,000,000 available units for 
    rent. Powered by team of software engineer student</p>
    <p>&nbsp;The team makes over one million calls each month to apartment owners and property managers, collecting and verifying current availabilities, 
    rental rates, pet policies, fees, leasing incentives, concessions, and more. AtypicHouse offers more apartments than other apartments listing 
    websites, and innovative features including a drawing tool that allows users to define their own search areas on a map, and a “Travel Time” feature
    that lets users search for rentals in proximity to a specific address.
    </p>
    <p>&nbsp;AtypicHouse creates easy access to its listings through a responsive website and iOS and Android apps, and provides unmatched exposure for 
    its advertisers through an intuitive name, strategic search engine placements and innovative emerging media. 
    The AtypicHouse network reaches millions of renters nationwide, driving both qualified traffic and highly engaged renters to leasing offices.
    </p>
    <p>
      &nbsp;For more information: <a href="www.atypicHouse">www.atypicHouse.com</a>
    </p>
     
              </div>
            </article>
          </div>
        </div> 
      </div> 
    </div> 
    
   


    <br>
</div>
