/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
.background{
	width:100%;
	height: 100%;
	/* background-image: url('~src/assets/images/back3.jpg'); 
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding-top:7em;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.box{

	background-color: rgb(146, 141, 141); 
	  border: 0 none;
	  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	  box-sizing: border-box;

}
.box1{
	background-color: rgb(117, 67, 67); 
}
.box2{
	background-color: rgb(16, 161, 172); 
}
.box3{
	background-color: rgb(161, 23, 143); 
} */

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-header {
	text-align: center;
	padding-bottom: 40px;
  }
  
  .section-header h2 {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0;
	color: #e29339;
	text-transform: uppercase;
  }
  
  .section-header p {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 38px;
	line-height: 42px;
	font-weight: 700;
	color: #012970;
  }
  
  @media (max-width: 768px) {
	.section-header p {
	  font-size: 28px;
	  line-height: 32px;
	}
  }

  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about{
	margin:0;
}
.about .content {
	background-color: #ffffff;
	padding: 20px;

  }
  
  .about h3 {
	font-size: 14px;
	font-weight: 700;
	color: #e29339;
	text-transform: uppercase;
  }
  
  .about h2 {
	font-size: 24px;
	font-weight: 700;
	color: #4781c4;
  }
  
  .about p {
	margin: 15px 0 30px 0;
	line-height: 24px;
  }

  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
	padding-top:6em;

  }
  
  .counts .count-box {
	display: flex;
	align-items: center;
	padding: 30px;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}
  
  .counts .count-box i {
	font-size: 42px;
	line-height: 0;
	margin-right: 20px;
	color: #4154f1;
  }
  
  .counts .count-box span {
	font-size: 36px;
	display: block;
	font-weight: 600;
	color: #4781c4;
	margin-bottom: 0.5em;
  }

  .counts .count-box p {
	padding: 0;
	margin:0;
	font-family: "Nunito", sans-serif;
	font-size: 14px;
  }
  
