.auth-box{
    background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 30px 30px;
  box-sizing: border-box;
  width: 500px;
  height: 70%;
  position: relative;
  margin:0 auto; 
 
}
