 
 <div  *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
</div>

<div 
        *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Invalid URL.</h2>
        </div>
</div>
 
<div *ngIf="CurrentState=='Verified'">

    <h1 >Set new password</h1>
    <div class="alert alert-danger" 
    *ngIf="errorMessage">
    <strong>Error! </strong> {{errorMessage}}
    </div>
      <div class="alert alert-success" 
    *ngIf="successMessage">
    <strong>Success! </strong>{{successMessage}}
    </div>

    <form 
      class="  register-register-form"
      novalidate=""
      [formGroup]="resetPasswordForm"
      >
        <div class="form-group">

              <label> New password</label>
              <input  class="form-control"  
                      formControlName="newPassword"
                    [class.is-invalid]="newPassword.invalid && newPassword.touched " 
                      type="password" 
                      name="newPassword" 
                      required minlength="6">
              <small class="text-danger" *ngIf="newPassword.errors?.required && newPassword.touched"> New password is required</small>
              <small class="text-danger" *ngIf="newPassword.errors?.minlength && newPassword.touched">New password must be at least 6 characters long</small>

       
        </div>

        <div class="form-group">
              <label>Confirm password</label>
              <input  class="form-control"  
                      formControlName="repeatPassword"
                      [class.is-invalid]="repeatPassword.invalid && repeatPassword.touched" 
                      type="password" 
                      name="repeatPassword" 
                      required>
              <small class="text-danger" *ngIf="repeatPassword.errors?.required && repeatPassword.touched">Confirm password is required</small>
              <small class="text-danger" *ngIf="repeatPassword.invalid && ! repeatPassword.errors?.required ">Password mismatch</small>
        </div>

    </form>
    <button class="btn btn-primary" (click)="reset()" [disabled]="resetPasswordForm.invalid" color="primary">Update password</button>
 </div>



  
  
  
  
  
  
  
  
  
  
  
  
  

  
