<div class="container property-box">

  <h1 >ADD YOUR PROPERTY</h1>
    <div class="alert alert-danger" 
    *ngIf="errorMessage">{{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
        <strong>Success! </strong> {{ successMessage }}.
    </div>
    <form 
      class="register-register-form"
      novalidate=""
      [formGroup]="propertyForm"
      >
       <div *ngIf="step===1">
             <div class="form-group">
                <label>Title</label>
                <input class="form-control"  
                      formControlName="title"
                      [class.is-invalid]="title.invalid && title.touched" 
                      name="title" 
                      required minlength="3">
                <small class="text-danger" *ngIf="title.errors?.required  && title.touched">title is required</small>
                <small class="text-danger" *ngIf="title.errors?.minlength ">title must be at least 3 characters long</small>

            </div>

            <div class="form-group">
                <label>Type</label>
                <select formControlName="type" (change)="changeType($event)" 
                [class.is-invalid]="typeHasError && type.touched"
                class="custom-select" name="type" 
                >
                    <option value="default" >choose a type</option>
                    <option *ngFor="let type of types" >{{type.label}}</option>
                </select>
                <small class="text-danger" *ngIf=" typeHasError && type.touched">please choose a type</small>
            </div>
          
            <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label>Country</label>
                    <select formControlName="country" (change)="changeCountry($event)" 
                    [class.is-invalid]="countryHasError && country.touched"
                    class="custom-select" name="country" 
                    >
                        <option value="default" >choose a country</option>
                        <option *ngFor="let country of countries" >{{country.label}}</option>
                    </select>
                    <small class="text-danger" *ngIf=" countryHasError && country.touched">please choose a country</small>
                </div>
                   
                <div class="col">
                    <label>State</label>
                    <input type="text" class="form-control" 
                            formControlName="state"
                            [class.is-invalid]="state.invalid && state.touched" 
                            name="state"
                            required
                    >
                    <small class="text-danger" *ngIf="state.errors?.required  && state.touched">state is required</small>
             
                </div>
            </div>
            </div>
            <div class="form-group">
              <label>Address</label>
              <input  class="form-control"  
                      formControlName="address" 
                      [class.is-invalid]="address.invalid && address.touched" 
                      name="address" 
                      required minlength="3">
              <small class="text-danger" *ngIf="address.errors?.required  && address.touched">address is required</small>
              <small class="text-danger" *ngIf="address.errors?.minlength  ">address must be at least 3 characters long</small>
            </div>


    <button class="btn btn-next" mat-button (click)="moveTo(2)">
      Next
    </button>



</div>
 <div *ngIf="step===2">

            <div class="form-group">
                    <label>Number of rooms</label>
                    <input type="number" class="form-control" 
                        formControlName="rooms"
                        [class.is-invalid]="rooms.invalid && rooms.touched" 
                        name="rooms"
                        required
                    >
                    <small class="text-danger" *ngIf="rooms.errors?.required  && rooms.touched">rooms is required</small>
                </div>
                   
                <div class="form-group">
                    <label>Number of baths</label>
                    <input type="number" class="form-control" 
                        formControlName="baths"
                        [class.is-invalid]="baths.invalid && baths.touched" 
                        name="baths"
                        required
                    >
                    <small class="text-danger" *ngIf="baths.errors?.required  && baths.touched">baths is required</small>
                 </div>



            <div class="form-group">
                <div class="form-row">
                <div class="col">
                <label>Price/night</label>
                <input type="number" class="form-control" 
                        formControlName="price"
                        [class.is-invalid]="price.invalid && price.touched" 
                        name="price"
                        required
                >
                <small class="text-danger" *ngIf="price.errors?.required  && price.touched">price is required</small>
                </div>
            
            </div>    
            </div>
           <div class="form-group">
                        <div class="custom-file d-flex flex-row-reverse">
                            <input type="file" class="custom-file-input form-control" id="customFile" multiple
                            (click)="touched()"  
                             (change)="uploadFiles($event)">
                            <label class="custom-file-label text-right" for="customFile">{{filesName}}</label>
                        </div>
                        <small class="text-danger" *ngIf="!validateFile && isFileTouched  ">file is required</small>
                        <small class="text-danger" *ngIf="!areImages">only image required</small>

            </div>   

            <button class="btn btn-pre " mat-button (click)="moveTo(1)">
            Previous
            </button>
            <button class="btn btn-next " mat-button (click)="moveTo(3)"  >
             Next
            </button>

      </div>




       <div *ngIf="step===3">
                <div class="form-group">
                <button  mat-button class="btn-add"(click)="addActivity()">
                <mat-icon>add</mat-icon> Add a nearby activity
                </button>
                <button  mat-button class="btn-add"(click)="resetActivity()">
                <mat-icon>restart_alt</mat-icon> Reset
                </button>
                </div>
        <div *ngFor="let activity of activitiesFormGroups; let i = index" >

         <div class="form-group">
            <div class="form-row" [formGroup]="activity">
                <div class="col">
                    <label>Name</label>
                    <input type="text" class="form-control" 
                        formControlName="name"
                        [class.is-invalid]="activity.controls.name.invalid && activity.controls.name.touched" 
                        name="name"
                        required
                    >
                    <small class="text-danger" *ngIf="activity.controls.name.errors?.required  && activity.controls.name.touched">Name is required</small>
                </div>
                   
                <div class="col">
                    <label>Distance(meter)</label>
                    <input type="number" class="form-control" 
                        formControlName="distance"
                        [class.is-invalid]="activity.controls.distance.invalid && activity.controls.distance.touched" 
                        name="distance"
                        required
                    >
                    <small class="text-danger" *ngIf="activity.controls.distance.errors?.required  && activity.controls.distance.touched">Distance is required</small>
                 </div>

            </div>
            </div>
                </div>



             <button class="btn btn-pre" mat-button (click)="moveTo(2)">
           Previous
             </button>
            <button class="btn btn-submit" mat-button (click)="submit()" [disabled]="propertyForm.invalid || typeHasError || countryHasError ||!validateFile || !areImages" >Add the property</button>
    </div>
    


    </form>
 
</div>


  
  
  
  
  
  
  
  
  
  
  
  
  

  
