        <div class="container home">
            <div class="container search-box">
              <h2>SEARCH PROPERTIES</h2>

            <form 
            class="register-register-form"
            [formGroup]="searchForm"
            >
            <div class="form-group">
              <div class="form-row">
                  <div class="col">
                      <select formControlName="type" (change)="changeType($event)"
                      class="custom-select search-item" name="type" 
                      >
                          <option value="all" >All types</option>
                    <option *ngFor="let type of types" >{{type.label}}</option>

                      </select>
                  </div>
                  <div class="col">
                    <select formControlName="country" (change)="changeCountry($event)"
                    class="custom-select search-item" name="type" 
                    >
                        <option value="all" >All Countries</option>
                    <option *ngFor="let country of countries" >{{country.label}}</option>


                    </select>
                </div>
                              

              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-3">
                  <select  formControlName="rooms" (change)="changeRooms($event)"
                  class="custom-select search-item" name="rooms" 
                  >
                      <option value="all" >Bedrooms</option>
                    <option *ngFor="let room of bedrooms" >{{room}}</option>


                  </select>
             
                </div>
                <div class="col-3">
                  <select    formControlName="baths" (change)="changeBaths($event)"
                  class="custom-select search-item" name="baths" 
                  >
                      <option value="all" >Bathrooms</option>
                    <option *ngFor="let bath of bathrooms" >{{bath}}</option>


                  </select>
             
                </div>
        </div>
            </div>
            </form>
            <button class="btn btn-submit" (click)="search()" color="primary">SEARCH</button>

          </div>

          	  <div class="clearfix">
						<ul class="pagination">
							<li class="page-item"  (click)="back()"><button disabled="pageN < 1"><i class="fa fa-angle-double-left"></i></button></li>
							<li class="page-item "><a  class="page-link" *ngIf="perPage*pageN < total">{{pageN*perPage}}/{{total}}</a></li>
							<li class="page-item "><a  class="page-link" *ngIf="perPage*pageN > total">{{total}}/{{total}}</a></li>
							<li class="page-item" (click)="forward()" ><button  disabled="(pageN + 1)*perPage > total " ><i class="fa fa-angle-double-right"></i></button></li>
						</ul>
					</div>
          
          <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let row of data">
          <div class="card">
            <img src="{{base_url+row.picture[0]}}" alt="" class="card-img-top" width="288" height="180">

            <div class="card-body">
              <a class="card-title link-title" [routerLink]="['/member/propertyDetails', row._id]">{{row.title}}</a>

              <p class="card-text text-muted">{{row.type}} </p>
              <p class="card-text"><small class="text-muted">
                <i class="fas fa-map-marker-alt"></i>{{row.country}}, {{row.state}}
                <i class="far fa-clock"></i>{{row.created_at | date:'MMM d, y' }}

            </small></p>
              <p class="card-text">
                  <small class="text-muted">
                    <i class="fas fa-bed"></i>{{row.rooms}}
                    <i class="fas fa-bath"></i>{{row.baths}} 
                    <i class="fas fa-money-bill-wave"></i>{{row.price}} DT/ {{row.rentPer}}
                </small>
              </p>
<mat-divider></mat-divider>

                  <a  class="user-name" ><i class="fas fa-user user-icon"></i>{{ row.user.firstname}} {{ row.user.lastname}}</a>
                  <a  class="btn  btn-save btn-sm" ><i class="fas fa-heart"  [ngStyle]="{'color': savedProperties.includes(row._id) ? 'rgb(130, 41, 41)' : 'gray' }" (click)="save(row._id)"></i></a>

            </div>


           </div>
          </div>
   


     
        </div>
      </div>
      